#footer
  height: 230px
  background: linear-gradient(140deg, #647abc, #707789)
  opacity: 1

  #footerIntro
    font-size: 40px
    font-weight: bold
    color: white
    padding-right: 60px
    position: relative
    left: 0%
    top: 30px
    float: right
    clear: left

    &:first-letter
      font-size: 44px
      color: white

#findMeDiv
  height: 100px
  width: 300px
  padding: 20px 10px 10px 10px
  position: relative
  left: 306px
  top: 80px
  float: right
  clear: left

  p
    color: white
    font-size: 24px

  .pFooter
    padding: 4px
