@import url("https://fonts.googleapis.com/css?family=Dancing+Script:700");
#topContainer {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  height: 200px; }
  #topContainer #navButton {
    float: right;
    width: 40px;
    height: 30px;
    padding: 60px 60px 0px 0px; }
    #topContainer #navButton .navLines {
      margin: 6px;
      background-color: #fcfdff;
      width: 30px;
      height: 2px;
      display: block;
      transition: transform 600ms ease-in-out; }

.click1 {
  transform: rotateZ(-45deg) translate(0px, 2px); }

.click2 {
  transform: rotateZ(45deg) translate(-3px, -5.5px); }

.click3 {
  transform: rotateZ(-45deg) translate(10.1px, -9.45px); }

#displayName {
  position: relative;
  width: 15%;
  height: 200px;
  padding: 50px 0px 0px 20px; }
  #displayName #name {
    font-family: "Dancing Script", cursive;
    font-size: 65px;
    color: #fcfdff;
    transform: rotateZ(-28deg); }

body {
  background-color: #49505b; }

#content {
  height: 1000px;
  background: linear-gradient(140deg, #6f7777, #393c3d); }

#footer {
  height: 230px;
  background: linear-gradient(140deg, #647abc, #707789);
  opacity: 1; }
  #footer #footerIntro {
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding-right: 60px;
    position: relative;
    left: 0%;
    top: 30px;
    float: right;
    clear: left; }
    #footer #footerIntro:first-letter {
      font-size: 44px;
      color: white; }

#findMeDiv {
  height: 100px;
  width: 300px;
  padding: 20px 10px 10px 10px;
  position: relative;
  left: 306px;
  top: 80px;
  float: right;
  clear: left; }
  #findMeDiv p {
    color: white;
    font-size: 24px; }
  #findMeDiv .pFooter {
    padding: 4px; }
