#header {
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px; }
  #header li {
    float: right;
    margin-top: 14px;
    font-size: 19.5px; }
    #header li:first-child {
      float: left; }
  #header #contact {
    padding-right: 20px; }
  #header #name {
    padding-left: 20px; }
  #header .navbar a {
    display: inline;
    padding: 12px;
    text-decoration: none;
    background-color: none;
    color: white; }
    #header .navbar a:hover {
      background-color: green;
      font-size: 20px; }

#content {
  height: 1000px;
  background-color: pink; }

#footer {
  height: 260px;
  background-color: #333333;
  opacity: 1; }
  #footer #footerIntro {
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding-right: 60px;
    position: relative;
    left: 0%;
    top: 40px;
    float: right;
    clear: left; }
    #footer #footerIntro:first-letter {
      font-size: 44px;
      color: white; }

#findMeDiv {
  height: 150px;
  width: 300px;
  padding: 20px 10px 10px 10px;
  position: relative;
  left: 306px;
  top: 80px;
  float: right;
  clear: left; }
  #findMeDiv p {
    color: white;
    font-size: 24px; }
  #findMeDiv .pFooter {
    padding: 4px; }
