/*NavBar*/
#header {
  background-color: #333333;
  position:fixed;
  top: 0;
  width: 100%;
  height: 8%;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

li {
  margin-top: 14px;
  float: right;
  font-size: 19.5px;
}

li:first-child {
  float: left;
}

#contact {
  margin-right: 20px;
}

a {
  text-decoration: none;
  background-color: none;
  color: white;
}

a:hover {
  background-color: green;
  font-size: 20px;
  padding: 0px;
}

.navbar a {
  display: inline;
  padding: 12px;
}

#name {
  padding-left: 10px;
}


#content {
  height: 1000px;
}

#footer {
  height: 400px;
  background-color: pink;
}

#footer h1 {
  font-size: 25px;
  font-weight: bold;
}

#footer h1::first-letter {
  font-size: 30px;
  color: red;
}
